# Environment variables / Secrets
.env
.env.local
*.log

# Dependencies & Build outputs
node_modules/
_site/
.jekyll-cache/
.jekyll-metadata
README_ARCHITECTURE.md

# Workfiles & Raw Assets
Z_workfiles/
05 Концерты/
